
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ember Bootstrap - <%= @item[:title] %></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/handlebars.js" type="text/javascript"></script>
    <script src="/js/ember.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/application.js" type="text/javascript"></script>
  </head>

  <body>

    <div class="container-narrow">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Doc</a></li>
          <li><a href="https://github.com/emberjs-addons/ember-bootstrap">Source</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/ember-bootstrap">Google Group</a></li>
        </ul>
        <h3 class="text-muted">Ember Bootstrap</h3>
      </div>

      <%= yield %>

      <div class="footer">
        <p>
          This website, like the Ember Bootstrap library, is published under the
          <a href="https://github.com/emberjs-addons/ember-bootstrap/blob/master/LICENSE">MIT License</a>.
        </p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
