rvm:
  - 1.9.3
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - bundle exec rackup &
  - sleep 5
script: phantomjs tests/qunit/run-qunit.js "http://localhost:9292/tests/index.html?package=ember-bootstrap"
