#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile 'style' do
  filter :sass, syntax: :scss
end

#compile '/static/*' do; end
compile '/CNAME/' do
  # We need to preserve this file in the output
end

compile '*' do
  if !item.binary?
    filter :erb
    filter :kramdown, toc_levels: [2]

    filter :colorize_syntax,
      colorizers: { ruby: :coderay },
      coderay:    { line_numbers: :table }
    snapshot :body

    layout 'default'
  end
end

route 'style' do
  '/css' + item.identifier.chop + '.css'
end

route '/static/*' do
  item.identifier[7..-2]
end

route '/CNAME/' do
  '/CNAME'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
